a {
  text-decoration: none;
}
body {
  margin: 50px 175px 0 175px;
  font-family: "Quicksand", sans-serif;
}

.outer-container {
  width: 580px;
  margin: 10px auto;
  text-align: center;
}

.github-text {
  font-size: 10px;
  color: #b56e74;
}
.github-link {
  color: #b56e74;
  font-size: 10px;
  text-shadow: 0.5px 0.5px 0.75px #6a333d;
}
