:root {
  --first-color: rgb(181, 110, 116, 0.7);
  --second-color: #fdf0ec;
  --third-color: #e3c8cb;
  --fourth-color: #e1c5c7;
}

a {
  text-decoration: none;
}
body {
  font-family: "Quicksand", sans-serif;
  background: var(--fourth-color);
  text-align: center;
  color: var(--second-color);
}

.github-text {
  font-size: 10px;
  color: var(--first-color);
}
.github-link {
  color: var(--first-color);
  text-decoration: underline;
}
