.weather {
  width: 680px;
  margin: 20px auto;
  text-align: center;
  border: 3px solid var(--first-color);
  border-radius: 2%;
  padding-left: 50px;
  padding-right: 50px;
}

.weather .city-input {
  width: 100%;
  border: none;
  border-radius: 91px;
  background-color: var(--second-color);
  color: var(--first-color);
  padding: 0 15px;
}

.weather input:focus {
  outline: 2px solid var(--fourth-color);
}
.weather input::placeholder {
  color: var(--first-color);
  font-weight: 400;
}
.weather .col-search-input-button {
  padding: 0 15px 0 0;
}
.weather .search-input-button {
  width: 100%;
  border: none;
  border-radius: 91px;
  background-color: var(--first-color);
  color: var(--second-color);
}
.weather .search-input-button:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}
