.WeatherForecast {
  display: flex;
  justify-content: center;
}

.WeatherForecast .col {
  border-radius: 30%;
  flex: 0;
  margin: 20px 10px;

  background-color: rgb(181, 110, 116, 0.55);
}

.WeatherForecast-day {
  margin-top: 3px;
}

.WeatherForecast-icon {
  margin: -10px 0;
  width: 75px;
}

.WeatherForecast-temps {
  margin-bottom: 10px;
  font-size: 14px;
}

.WeatherForecast-temp-min {
  color: #e3c8cb;
}
